<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Kevyn Gonçalves</title>

    {% block head %}
        <title>Kevyn Gonçalves</title>
    {% endblock %}

</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/classes">Aulas Recomendadas</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}

</body>
</html>